/* --------Test page ---------- */
.test-user-cards-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

/* ------ END OF Test page ----- */

/* ----- Navbar -------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  margin: 10px;
}

.navbar img {
  height: 70px;
}
